/*
----------
Reset
----------
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
----------
Common
----------
*/

body {
    font-family: 'Open Sans', sans-serif;
}

.d-flex {
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
}

.justify-content-spacebetween {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.position-fixed {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.first-button {
    background-color: #0061ff;
    border: none;
    padding: 10px 15px;
    color: white;
}

.second-button{
    background-color: white;
    border: 1px solid black;
    padding: 10px 15px;
    color: black;
}

.w-max-big {
    max-width: 1180px;
    margin: 0 auto;
}

.w-max-small {
    max-width: 1000px;
    margin: 0 auto;
}

.w-30{
    width: 30%;
}

.col-big {
    width: 70%;
}

.col-small {
    width: 30%;
}

.img-width {
    max-width: 100%;
}

.padding {
    padding: 30px;
}

.text-align-center {
    text-align: center;
}

.border {
    border: 1px solid lightgray;
}

/*
----------
Header
----------
*/

.container-header.position-fixed {
    height: 80px;
    background-color: white;
}

header {
    padding: 0 10px;
    font-weight: lighter;
}

header ul {
    height: 80px;
    gap: 40px;
}

header a {
    color: #1e1919;
}

/*
----------
Main
----------
*/

#jumbotron {
    background-color: #b4d0e7;
}

.container-jumbotron {
    padding-top: 200px;
}

.container-jumbotron>h1 {
    font-size: 77px;
}

.row {
    position: relative;
    bottom: -80px;
}

.col-small p,
.col-small button {
    margin-bottom: 35px;
}

.col-small div>a {
    color: black;
}

.col-small div>.fa-solid.fa-arrow-down {
    margin-top: 80px;
    font-size: 50px;
}

#piano-business {
    margin-top: 160px;
    margin-bottom: 50px;
}

.container-piano-business>h2 {
    margin-bottom: 70px;
}

.radio-button {
    margin-bottom: 50px;
}

.radio-button span>.fa-solid {
    color: #0061ff;
    margin-right: 5px;
}

.radio-button span>.fa-regular {
    color: gray;
    margin-left: 50px;
    margin-right: 5px;
}

.content {
    min-height: 950px;
}

.header-box {
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
}

.content h3 {
    margin-top: 40px;
    margin-bottom: 27px;
}

.content p {
    margin-top: 20px;
    margin-bottom: 55px;
}

.content ul li {
    margin-bottom: 25px;
}

.content .first-button {
    margin-bottom: 35px;
}

.content hr {
    width: 20%;
    margin-top: 40px;
    margin-bottom: 55px;
    color: lightgray;
}

.content h4 {
    margin-bottom: 38px;
}

.content .fa-solid {
    margin-right: 5px;
}

.content .fa-solid.fa-check {
    color: #0061ff;
}

.h-piano-business {
    margin-bottom: 150px;
}

.h-piano-business .fa-solid {
    margin-right: 5px;
}

.h-piano-business .col-big h3 {
    margin-bottom: 25px;
}

.h-piano-business .col-big h4 {
    margin-bottom: 60px;
}

.h-piano-business .col-small>button {
    margin-left: 100px;
}

#partner-dropbox h3{
    margin-bottom: 20px;
}

#partner-dropbox p{
    margin-bottom: 30px;
}
#partner-dropbox{
    margin-bottom: 160px;
}

.container-dropbox-business p{
    margin-top: 40px;
    margin-bottom: 80px;
}

.container-dropbox-business h2{
    margin-bottom: 80px;
}

#dropbox-business{
    margin-bottom: 130px;
}

.box-team-dropbox-business h2{
    font-size: 30px;
    padding-right: 500px;
    margin-bottom: 70px;
}

.box-team-dropbox-business a{
    text-decoration: underline;
}

#team-dropbox-business{
    margin-bottom: 150px;
}